<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>=^.^=</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
<script src="../dist/vuex-history.js"></script>
<script>

Vue.use( Vuex );
Vue.use( VuexHistory );

// Vuex
const store = new Vuex.Store( {
  state: {
    myWatchingValue: null,
    anotherValue: null,
  },
  actions: {
    updateMyWatchingValue: function ( context, myWatchingValue ) {

      context.commit( 'SET_MY_WATCHING_VALUE', myWatchingValue );

    },
    updateAnotherValue: function ( context, anotherValue ) {

      context.commit( 'SET_ANOTHER_VALUE', anotherValue );

    }
  },
  mutations: {
    SET_MY_WATCHING_VALUE: function ( state, myWatchingValue ) {

      state.myWatchingValue = myWatchingValue;

    },
    SET_ANOTHER_VALUE: function ( state, anotherValue ) {

      state.anotherValue = anotherValue;

    }
  },
  // vuex modules
  modules: {
    nested: {
      namespaced: true,
      state: {
        myNestedWatchingValue: null
      },
      actions: {
        updateMyNestedWatchingValue: function ( context, myNestedWatchingValue ) {

          context.commit( 'SET_MY_NESTED_VALUE', myNestedWatchingValue );

        }
      },
      mutations: {
        SET_MY_NESTED_VALUE: function ( state, myNestedWatchingValue ) {

          state.myNestedWatchingValue = myNestedWatchingValue;

        }
      },
    }
  }
} );



// History
const maxHistoryLength = 5;
const watchStateNames = [
  'myWatchingValue',
  'nested/myNestedWatchingValue'
];
const vuexHistory = new VuexHistory( store, watchStateNames, maxHistoryLength );

const hisotryMixin = {
  computed: {
    canUndo() {
      return vuexHistory.canUndo;
    },
    canRedo() {
      return vuexHistory.canRedo;
    },
  },
  methods: {
    clearHistory() {
      vuexHistory.clearHistory();
    },
    saveSnapshot() {
      vuexHistory.saveSnapshot();
    },
    undo() {
      vuexHistory.undo();
    },
    redo() {
      vuexHistory.redo();
    },
  },
}



// Vue
const mapState = Vuex.mapState;
const mapActions = Vuex.mapActions;


const componentRoot = new Vue( {

  mixins: [ hisotryMixin ],

  store: store,

  data: {
    tmpMyWatchingValue: null,
    tmpAnotherValue: null,
    tmpMyNestedWatchingValue: null
  },

  template: [
    '<div>',

      '<button type="button" @click="undo" :disabled="! canUndo">undo</button>',
      '<button type="button" @click="redo" :disabled="! canRedo">redo</button>',

      '<hr>',

      '<table>',
        '<tr>',
          '<th>myWatchingValue<br>will be saved onBlur</th>',
          '<td><input type="text" v-model="tmpMyWatchingValue" @blur="saveSnapshot"></td>',
        '</tr>',
        '<tr>',
          '<th>anotherValue<br>(no history managed)</th>',
          '<td><input type="range" v-model="tmpAnotherValue"></td>',
        '</tr>',
        '<tr>',
          '<th>myNestedWatchingValue<br>will be saved onChange</th>',
          '<td><input type="range" v-model="tmpMyNestedWatchingValue" @change="saveSnapshot"></td>',
        '</tr>',
      '</table>',

      '<hr>',

      'The store',

      '<table>',
        '<tr>',
          '<th>myWatchingValue</th>',
          '<td>{{ myWatchingValue }}</td>',
        '</tr>',
        '<tr>',
          '<th>anotherValue</th>',
          '<td>{{ anotherValue }}</td>',
        '</tr>',
        '<tr>',
          '<th>myNestedWatchingValue</th>',
          '<td>{{ myNestedWatchingValue }}</td>',
        '</tr>',
      '</table>',
    '</div>',
  ].join( '' ),

  computed: Object.assign(
    mapState( [
      'myWatchingValue',
      'anotherValue'
    ] ),
    mapState( 'nested', [
      'myNestedWatchingValue'
    ] )
  ),

  watch: {
    tmpMyWatchingValue: function () {
      this.updateMyWatchingValue( this.tmpMyWatchingValue );
    },
    tmpAnotherValue: function () {
      this.updateAnotherValue( this.tmpAnotherValue );
    },
    tmpMyNestedWatchingValue: function () {
      this.updateMyNestedWatchingValue( this.tmpMyNestedWatchingValue );
    },

    myWatchingValue: function () {
      this.tmpMyWatchingValue = this.myWatchingValue;
    },
    anotherValue: function () {
      this.tmpAnotherValue = this.anotherValue;
    },
    myNestedWatchingValue: function () {
      this.tmpMyNestedWatchingValue = this.myNestedWatchingValue;
    }
  },

  methods: Object.assign(
    mapActions( [
      'updateMyWatchingValue',
      'updateAnotherValue',
    ] ),
    mapActions( 'nested', [
      'updateMyNestedWatchingValue'
    ] )
  )

} );

componentRoot.$mount( '#app' );
</script>


</body>
</html>
